<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Doner Place</title>
    <link href="/css/site.css" type="text/css" rel="stylesheet">
</head>
<body>
<div class="container">
    <header>
        <span class="logo">Doner  Place</span>
        {{#if currentUser}}
            <span class="greeting">Welcome, {{currentUser.username}}! | <a href="/users/logout">[logout]</a></span>
            <ul class="menu">
                <li><a class="button" href="/">Home</a></li>
                <li><a class="button" href="/users/myOrders">Order Status</a></li>
            </ul>
        {{else}}
            <ul class="menu">
                <li><a class="button" href="/">Home</a></li>
                <li><a class="button" href="/users/login">Login</a></li>
                <li><a class="button" href="/users/register">Register</a></li>
            </ul>
        {{/if}}
    </header>
    <main>
        {{#if globalError}}
            <h3>{{globalError}}</h3>
        {{/if}}
        {{{body}}}
    </main>
    <footer>Doner Place &copy; 2017</footer>
</div>
</body>
</html>