<h1>Register</h1>
<form method="post" action="/users/register">
    <input name="username" placeholder="enter username" /><br>
    <input name="firstName" placeholder="enter first name" /><br>
    <input name="secondName" placeholder="enter last name" /><br>
    <input type="password" name="password" placeholder="enter password" /><br>
    <input id="submit" type="submit" value="REGISTER" />
</form>