<h1>Create a car</h1>
<form method="post" action="/cars/create">
    <input name="brand" placeholder="Enter brand" />
    <input name="model" placeholder="Enter model" />
    <input name="imageUrl" placeholder="Enter image url" />
    <input name="year", placeholder="Enter year" />
    <input name="pricePerDay", placeholder="Enter price per day" />
    <input id="submit" type="submit" value="CREATE" />
</form>