<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>RentACar</title>
    <link rel="stylesheet" type="text/css" href="/css/style.css" />
    <link rel="icon" href="/favicon.ico?" />
</head>
</body class="preload">
    <header>
        <nav>
            <img id="logo" src="/logo.png" alt="logo"/>
            {{#if user}}
            <ul id="main-nav">
                <li><a href="/">home</a></li>
                <li><a href="/cars/all">all cars</a></li>
                <li><a href="/cars/create">add car</a></li>              
                <li><a href="/users/profile/me">profile</a></li>
                <li>
                    <form action="/users/logout" method="POST">
                    <input type="submit" value="LOGOUT">
                    </form>
                </li>
            </ul>
            {{else}}
             <ul id="user">
                 <li><a href="/">home</a></li>
                <li><a href="/cars/all">all cars</a></li>
                <li><a href="/users/register">register</a></li>
                <li><a href="/users/login">login</a></li>
            </ul>
            {{/if}}
        </nav>
    </header>
    <section id="main-container">
        <main>
          {{{body}}}
        </main>
    </section>
    <footer>
        <span>Authentication exercise</span>
    </footer>
    <script>
        document.onload = function() {
            document
                .querySelector('body')
                .classList
                .remove('preload');
        }
    </script>
</body>
</html>